<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>FirstServer</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FirstServlet</display-name>
    <servlet-name>FirstServlet</servlet-name>
    <servlet-class>FirstServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FirstServlet</servlet-name>
    <url-pattern>/FirstServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Form</display-name>
    <servlet-name>Form</servlet-name>
    <servlet-class>Form</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Form</servlet-name>
    <url-pattern>/Form</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDispatcherHandler</display-name>
    <servlet-name>RequestDispatcherHandler</servlet-name>
    <servlet-class>RequestDispatcherHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcherHandler</servlet-name>
    <url-pattern>/RequestDispatcherHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Redirect</display-name>
    <servlet-name>Redirect</servlet-name>
    <servlet-class>Redirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Redirect</servlet-name>
    <url-pattern>/Redirect</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestDispatcherHandle</display-name>
    <servlet-name>RequestDispatcherHandle</servlet-name>
    <servlet-class>RequestDispatcherHandle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestDispatcherHandle</servlet-name>
    <url-pattern>/RequestDispatcherHandle</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendRedirect</display-name>
    <servlet-name>SendRedirect</servlet-name>
    <servlet-class>SendRedirect</servlet-class>
    <init-param>
      <param-name>Password</param-name>
      <param-value>1234</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendRedirect</servlet-name>
    <url-pattern>/sem3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletContextdbname</display-name>
    <servlet-name>ServletContextdbname</servlet-name>
    <servlet-class>ServletContextdbname</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletContextdbname</servlet-name>
    <url-pattern>/ServletContextdbname</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>Dbname</param-name>
    <param-value>COLLAGE</param-value>
  </context-param>
  <context-param>
    <param-name>TableName</param-name>
    <param-value>STUDENT</param-value>
  </context-param>
  <context-param>
    <param-name>TableName1</param-name>
    <param-value>FACULTY</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
</web-app>