<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Hidden</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Fservlet</display-name>
    <servlet-name>Fservlet</servlet-name>
    <servlet-class>Fservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Fservlet</servlet-name>
    <url-pattern>/Fservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sservlet</display-name>
    <servlet-name>Sservlet</servlet-name>
    <servlet-class>Sservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sservlet</servlet-name>
    <url-pattern>/Sservlet</url-pattern>
  </servlet-mapping>
</web-app>